In [18]:
import pandas as pd
import scipy.stats as st
import numpy as np
import os

In [19]:
file_to_load = ("NBA_Players_Stats_Updated.csv")
# Read Purchasing File and store into Pandas data frame
NBA_Pstats = pd.read_csv(file_to_load)

In [20]:
pd.set_option('display.max_columns', None)
NBA_Pstats.tail()

,Unnamed: 0,Unnamed: 0.1,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,Ave.
26971,26971,24934,78447,1953,0,1610610030,INO,26.0,67,NaN,2468.0,227,645,0.352,NaN,NaN,NaN,264,354,0.746,NaN,NaN,284.0,205,NaN,NaN,NaN,260,718,78447,Paul Walther,Paul,Walther,False,1953,26.7
26972,26972,24975,78453,1953,0,1610612758,ROC,32.0,70,NaN,2577.0,318,866,0.367,NaN,NaN,NaN,384,473,0.812,NaN,NaN,351.0,252,NaN,NaN,NaN,206,1020,78453,Bobby Wanzer,Bobby,Wanzer,False,1953,26.7
26973,26973,26678,78616,1953,0,1610612744,PHW,23.0,65,NaN,1030.0,130,408,0.319,NaN,NaN,NaN,70,113,0.619,NaN,NaN,193.0,37,NaN,NaN,NaN,166,330,78616,Mark Workman,Mark,Workman,False,1953,26.7
26974,26974,26911,78638,1953,0,1610612752,NYK,27.0,29,NaN,722.0,123,320,0.384,NaN,NaN,NaN,98,142,0.690,NaN,NaN,75.0,55,NaN,NaN,NaN,81,344,78638,Max Zaslofsky,Max,Zaslofsky,False,1953,26.7
26975,26975,26915,78639,1953,0,1610610030,INO,22.0,41,NaN,622.0,55,150,0.367,NaN,NaN,NaN,77,116,0.664,NaN,NaN,146.0,31,NaN,NaN,NaN,83,187,78639,Robert Zawoluk,Robert,Zawoluk,False,1953,26.7

In [21]:
print(len(NBA_Pstats.columns))

36

In [22]:
#calculating players efficiency non-adjusted (estimation)

FGM_P = NBA_Pstats['FGM'] * 85.91
STL_P = NBA_Pstats['STL'] * 53.897
FG3M_P = NBA_Pstats['FG3M'] * 51.757
FTM_P = NBA_Pstats['FTM'] * 46.845
BLK_P = NBA_Pstats['BLK'] * 39.19
OREB_P = NBA_Pstats['OREB'] * 39.19
AST_P = NBA_Pstats['AST'] *34.677
DREB_P = NBA_Pstats['DREB'] * 14.707
PF_P = NBA_Pstats['PF'] * 17.174 
FTmiss_P = ((NBA_Pstats['FTA'])-(NBA_Pstats['FTM']))* 20.091
FGmiss_P = ((NBA_Pstats['FGA'])-(NBA_Pstats['FGM']))* 39.19
TO_P = NBA_Pstats['TOV'] * 53.897
MIN_P = NBA_Pstats['MIN']

Per = (FGM_P + STL_P + FG3M_P + FTM_P + BLK_P + OREB_P + AST_P + DREB_P - PF_P - FTmiss_P - FGmiss_P - TO_P)*(1/MIN_P)

In [23]:
Per

0        14.966524
1        14.557338
2        10.345399
3        27.776738
4        17.091860
           ...
26971          NaN
26972          NaN
26973          NaN
26974          NaN
26975          NaN
Length: 26976, dtype: float64

In [24]:
NBA_Pstats.insert(36, 'PER', Per)

In [54]:
NBA_Pstats.tail()

,Unnamed: 0,Unnamed: 0.1,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,Ave.,PER
26971,26971,24934,78447,1953,0,1610610030,INO,26.0,67,NaN,2468.0,227,645,0.352,NaN,NaN,NaN,264,354,0.746,NaN,NaN,284.0,205,NaN,NaN,NaN,260,718,78447,Paul Walther,Paul,Walther,False,1953,26.7,NaN
26972,26972,24975,78453,1953,0,1610612758,ROC,32.0,70,NaN,2577.0,318,866,0.367,NaN,NaN,NaN,384,473,0.812,NaN,NaN,351.0,252,NaN,NaN,NaN,206,1020,78453,Bobby Wanzer,Bobby,Wanzer,False,1953,26.7,NaN
26973,26973,26678,78616,1953,0,1610612744,PHW,23.0,65,NaN,1030.0,130,408,0.319,NaN,NaN,NaN,70,113,0.619,NaN,NaN,193.0,37,NaN,NaN,NaN,166,330,78616,Mark Workman,Mark,Workman,False,1953,26.7,NaN
26974,26974,26911,78638,1953,0,1610612752,NYK,27.0,29,NaN,722.0,123,320,0.384,NaN,NaN,NaN,98,142,0.690,NaN,NaN,75.0,55,NaN,NaN,NaN,81,344,78638,Max Zaslofsky,Max,Zaslofsky,False,1953,26.7,NaN
26975,26975,26915,78639,1953,0,1610610030,INO,22.0,41,NaN,622.0,55,150,0.367,NaN,NaN,NaN,77,116,0.664,NaN,NaN,146.0,31,NaN,NaN,NaN,83,187,78639,Robert Zawoluk,Robert,Zawoluk,False,1953,26.7,NaN

In [26]:
NBA_new =NBA_Pstats.rename(columns={"Ave.": "CPI_AVE"})

In [27]:
NBA_new

,Unnamed: 0,Unnamed: 0.1,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,CPI_AVE,PER
0,0,0,76001,1991,0,1610612757,POR,23.0,43,0.0,290.0,55,116,0.474,0.0,0.0,0.000,25,44,0.568,27.0,62.0,89.0,12,4.0,12.0,22.0,39,135,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,1991,136.2,14.966524
1,1,43,51,1991,0,1610612743,DEN,22.0,67,19.0,1505.0,417,1009,0.413,24.0,100.0,0.240,84,98,0.857,34.0,87.0,121.0,206,55.0,4.0,110.0,149,942,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,1991,136.2,14.557338
2,2,99,76009,1991,0,1610612753,ORL,28.0,68,0.0,1313.0,109,214,0.509,1.0,3.0,0.333,66,101,0.653,140.0,219.0,359.0,25,25.0,25.0,42.0,218,285,76009,Mark Acres,Mark,Acres,False,1991,136.2,10.345399
3,3,150,149,1991,0,1610612743,DEN,28.0,66,66.0,2346.0,560,1421,0.394,167.0,564.0,0.296,465,529,0.879,58.0,198.0,256.0,693,147.0,6.0,240.0,162,1752,149,Michael Adams,Michael,Adams,False,1991,136.2,27.776738
4,4,220,76016,1991,0,1610612765,DET,31.0,78,13.0,2006.0,420,909,0.462,24.0,78.0,0.308,240,317,0.757,134.0,240.0,374.0,139,47.0,20.0,128.0,209,1104,76016,Mark Aguirre,Mark,Aguirre,False,1991,136.2,17.091860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26971,26971,24934,78447,1953,0,1610610030,INO,26.0,67,NaN,2468.0,227,645,0.352,NaN,NaN,NaN,264,354,0.746,NaN,NaN,284.0,205,NaN,NaN,NaN,260,718,78447,Paul Walther,Paul,Walther,False,1953,26.7,NaN
26972,26972,24975,78453,1953,0,1610612758,ROC,32.0,70,NaN,2577.0,318,866,0.367,NaN,NaN,NaN,384,473,0.812,NaN,NaN,351.0,252,NaN,NaN,NaN,206,1020,78453,Bobby Wanzer,Bobby,Wanzer,False,1953,26.7,NaN
26973,26973,26678,78616,1953,0,1610612744,PHW,23.0,65,NaN,1030.0,130,408,0.319,NaN,NaN,NaN,70,113,0.619,NaN,NaN,193.0,37,NaN,NaN,NaN,166,330,78616,Mark Workman,Mark,Workman,False,1953,26.7,NaN
26974,26974,26911,78638,1953,0,1610612752,NYK,27.0,29,NaN,722.0,123,320,0.384,NaN,NaN,NaN,98,142,0.690,NaN,NaN,75.0,55,NaN,NaN,NaN,81,344,78638,Max Zaslofsky,Max,Zaslofsky,False,1953,26.7,NaN
26975,26975,26915,78639,1953,0,1610610030,INO,22.0,41,NaN,622.0,55,150,0.367,NaN,NaN,NaN,77,116,0.664,NaN,NaN,146.0,31,NaN,NaN,NaN,83,187,78639,Robert Zawoluk,Robert,Zawoluk,False,1953,26.7,NaN

In [28]:
#scraping table to get CPI data
NBA_new.to_csv("NBA_PER.csv", index = False)

In [29]:
# scraping historical inflation
url ='https://inflationdata.com/Inflation/Consumer_Price_Index/HistoricalCPI.aspx?reloaded=true'

In [30]:
tables = pd.read_html(url)
len(tables)

1

In [31]:
print(type(tables))
print(type(tables[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [32]:
Hist_INF = tables[0]
Hist_INF.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave.
0,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,NaN,NaN,NaN,NaN
1,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657
2,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107
3,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.120
4,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,240.008

In [33]:
Hist_INF.to_csv("Historical_CPI.csv", index = False)

In [57]:
file_to_load = ("NBA_Players_Stats_Salaries.csv")
NBA_salary = pd.read_csv(file_to_load)

NBA_salary.tail(30)

,Unnamed: 0,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,CPI_AVE,PER,Register Value,Player Name,Salary in $,Season Start,Season End,Team,Full Team Name
12812,12812,201228,2010,0,1610612744,GSW,26,65,15,1788,247,528,0.468,45,145,0.310,128,166,0.771,28,141,169,180,103,8,69,124,667,201228,C.J. Watson,C.J.,Watson,False,2010,218.056,15.21166443,7549,C.J. Watson,"$1,000,497.00",2009,2010,GSW,Golden State Warriors
12813,12813,2248,2010,0,1610612754,IND,31,79,52,2322,223,524,0.426,53,184,0.288,120,169,0.710,54,186,240,399,104,16,175,181,619,2248,Earl Watson,Earl,Watson,False,2010,218.056,11.68025237,7626,Earl Watson,"$6,600,000.00",2009,2010,OKC,Oklahoma City Thunder
12814,12814,2248,2010,0,1610612754,IND,31,79,52,2322,223,524,0.426,53,184,0.288,120,169,0.710,54,186,240,399,104,16,175,181,619,2248,Earl Watson,Earl,Watson,False,2010,218.056,11.68025237,7627,Earl Watson,"$2,800,000.00",2009,2010,IND,Indiana Pacers
12815,12815,201602,2010,0,1610612760,OKC,24,12,0,144,12,33,0.364,7,19,0.368,5,6,0.833,1,17,18,11,6,6,4,13,36,201602,Kyle Weaver,Kyle,Weaver,False,2010,218.056,10.93535417,7750,Kyle Weaver,"$870,968.00",2009,2010,OKC,Oklahoma City Thunder
12816,12816,101110,2010,0,1610612757,POR,23,82,49,2005,259,639,0.405,124,332,0.373,126,155,0.813,47,221,268,62,45,40,60,153,768,101110,Martell Webster,Martell,Webster,False,2010,218.056,12.20442045,7789,Martell Webster,"$4,344,000.00",2009,2010,POR,Portland Trail Blazers
12817,12817,201603,2010,0,1610612761,TOR,23,69,19,1368,236,458,0.515,2,15,0.133,44,64,0.688,42,150,192,101,39,25,65,126,518,201603,Sonny Weems,Sonny,Weems,False,2010,218.056,13.23564693,7896,Sonny Weems,"$736,420.00",2009,2010,TOR,Toronto Raptors
12818,12818,2561,2010,0,1610612740,NOH,29,81,81,2949,619,1226,0.505,7,27,0.259,296,342,0.865,164,441,605,239,76,60,173,233,1541,2561,David West,David,West,False,2010,218.056,19.33428009,7602,David West,"$9,075,000.00",2009,2010,NOH,New Orleans Pelicans
12819,12819,2753,2010,0,1610612739,CLE,26,60,3,1500,194,436,0.445,25,77,0.325,115,142,0.810,29,140,169,196,55,28,90,86,528,2753,Delonte West,Delonte,West,False,2010,218.056,14.031564,7605,Delonte West,"$4,254,250.00",2009,2010,CLE,Cleveland Caveliers
12820,12820,201238,2010,0,1610612737,ATL,26,39,1,142,12,21,0.571,0,1,0.000,6,10,0.600,8,19,27,9,8,0,7,25,30,201238,Mario West,Mario,West,False,2010,218.056,9.919077465,7783,Mario West,"$446,740.00",2009,2010,ATL,Atlanta Hawks
12821,12821,201566,2010,0,1610612760,OKC,21,82,82,2813,485,1160,0.418,23,104,0.221,329,422,0.780,143,258,401,652,108,34,268,204,1322,201566,Russell Westbrook,Russell,Westbrook,True,2010,218.056,18.18715855,7869,Russell Westbrook,"$3,755,640.00",2009,2010,OKC,Oklahoma City Thunder
12822,12822,2404,2010,0,1610612765,DET,27,34,10,441,63,120,0.525,0,0,0.000,26,52,0.500,44,73,117,13,13,12,38,64,152,2404,Chris Wilcox,Chris,Wilcox,False,2010,218.056,11.67028345,7572,Chris Wilcox,"$3,000,000.00",2009,2010,DET,Detroit Pistons
12823,12823,2863,2010,0,1610612750,MIN,30,80,31,1585,165,381,0.433,18,61,0.295,103,129,0.798,72,177,249,135,66,25,76,144,451,2863,Damien Wilkins,Damien,Wilkins,False,2010,218.056,11.99895457,7587,Damien Wilkins,"$3,300,000.00",2009,2010,MIN,Minnesota Timberwolves
12824,12824,2366,2010,0,1610612760,OKC,31,4,0,59,6,12,0.500,2,3,0.667,2,4,0.500,1,3,4,4,0,0,4,5,16,2366,Mike Wilks,Mike,Wilks,False,2010,218.056,6.066152542,7808,Mike Wilks,"$175,908.00",2009,2010,OKC,Oklahoma City Thunder
12825,12825,101114,2010,0,1610612762,UTA,26,76,76,2802,494,1053,0.469,96,259,0.371,335,418,0.801,50,253,303,798,96,16,252,208,1419,101114,Deron Williams,Deron,Williams,False,2010,218.056,21.95790757,7609,Deron Williams,"$12,323,900.00",2009,2010,UTA,Utah Jazz
12826,12826,1715,2010,0,1610612753,ORL,34,82,18,1703,189,426,0.444,84,221,0.380,31,41,0.756,7,119,126,298,53,3,87,65,493,1715,Jason Williams,Jason,Williams,False,2010,218.056,12.96230417,7689,Jason Williams,"$1,306,455.00",2009,2010,ORL,Orlando Magic
12827,12827,101214,2010,0,1610612739,CLE,27,54,6,742,81,206,0.393,30,93,0.323,32,45,0.711,16,67,83,34,12,5,18,73,224,101214,Jawad Williams,Jawad,Williams,False,2010,218.056,8.437762803,7692,Jawad Williams,"$736,420.00",2009,2010,CLE,Cleveland Caveliers
12828,12828,200766,2010,0,1610612763,MEM,24,62,1,872,104,271,0.384,24,81,0.296,37,55,0.673,13,80,93,161,32,1,74,43,269,200766,Marcus Williams,Marcus,Williams,False,2010,218.056,10.67633716,7780,Marcus Williams,"$855,189.00",2009,2010,MEM,Memphis Grizzlies
12829,12829,101107,2010,0,1610612737,ATL,24,81,81,2468,302,664,0.455,40,132,0.303,176,215,0.819,106,310,416,93,66,46,72,160,820,101107,Marvin Williams,Marvin,Williams,True,2010,218.056,12.94946515,7790,Marvin Williams,"$7,500,000.00",2009,2010,ATL,Atlanta Hawks
12830,12830,2590,2010,0,1610612739,CLE,27,69,68,2359,378,855,0.442,159,371,0.429,177,198,0.894,28,178,206,368,70,21,173,170,1092,2590,Mo Williams,Mo,Williams,False,2010,218.056,16.40851547,7811,Mo Williams,"$8,860,000.00",2009,2010,CLE,Cleveland Caveliers
12831,12831,201157,2010,0,1610612751,NJN,23,20,0,227,21,49,0.429,0,1,0.000,10,19,0.526,21,25,46,1,8,19,20,41,52,201157,Sean Williams,Sean,Williams,False,2010,218.056,7.107819383,7881,Sean Williams,"$1,629,120.00",2009,2010,NJN,Brooklyn Nets
12832,12832,200749,2010,0,1610612738,BOS,26,54,0,597,63,121,0.521,0,1,0.000,75,98,0.765,47,99,146,21,13,21,30,85,201,200749,Shelden Williams,Shelden,Williams,False,2010,218.056,14.51203183,7894,Shelden Williams,"$825,497.00",2009,2010,BOS,Boston Celtic
12833,12833,201944,2010,0,1610612751,NJN,23,78,9,1764,261,651,0.401,31,100,0.310,103,144,0.715,46,302,348,223,43,10,124,126,656,201944,Terrence Williams,Terrence,Williams,False,2010,218.056,11.66877834,7909,Terrence Williams,"$2,060,040.00",2009,2010,NJN,Brooklyn Nets
12834,12834,1897,2010,0,1610612747,LAL,30,77,77,2605,306,740,0.414,105,296,0.355,128,186,0.688,99,232,331,234,106,21,121,165,845,1897,Metta World Peace,Metta,World Peace,False,2010,218.056,12.33491132,7797,Metta World Peace,"$5,854,000.00",2009,2010,LAL,Los Angeles Lakers
12835,12835,101120,2010,0,1610612761,TOR,26,67,10,1392,162,399,0.406,58,173,0.335,53,77,0.688,38,152,190,71,30,11,58,134,435,101120,Antoine Wright,Antoine,Wright,False,2010,218.056,8.936283046,7519,Antoine Wright,"$2,110,550.00",2009,2010,TOR,Toronto Raptors
12836,12836,2748,2010,0,1610612748,MIA,24,72,1,1496,194,419,0.463,61,157,0.389,61,69,0.884,50,185,235,91,52,32,53,94,510,2748,Dorell Wright,Dorell,Wright,False,2010,218.056,14.12066377,7620,Dorell Wright,"$2,750,000.00",2009,2010,MIA,Miami Heat
12837,12837,201153,2010,0,1610612740,NOH,23,68,14,871,116,232,0.500,2,6,0.333,25,41,0.610,58,86,144,41,29,18,44,45,259,201153,Julian Wright,Julian,Wright,False,2010,218.056,12.00507118,7728,Julian Wright,"$2,000,040.00",2009,2010,NOH,New Orleans Pelicans
12838,12838,201146,2010,0,1610612751,NJN,22,52,51,1655,227,563,0.403,15,41,0.366,154,193,0.798,115,257,372,47,37,52,77,170,623,201146,Yi Jianlian,NaN,Yi Jianlian,False,2010,218.056,12.33803867,7940,Yi Jianlian,"$3,194,400.00",2009,2010,NJN,Brooklyn Nets
12839,12839,201156,2010,0,1610612764,WAS,25,74,23,1421,233,558,0.418,69,170,0.406,104,130,0.800,20,82,102,48,28,8,56,147,639,201156,Nick Young,Nick,Young,False,2010,218.056,10.65103659,7819,Nick Young,"$1,714,800.00",2009,2010,WAS,Washington Wizards
12840,12840,201970,2010,0,1610612763,MEM,25,80,1,1321,224,497,0.451,11,56,0.196,136,175,0.777,77,124,201,52,34,20,94,106,595,201970,Sam Young,Sam,Young,False,2010,218.056,12.92634822,7874,Sam Young,"$824,200.00",2009,2010,MEM,Memphis Grizzlies
12841,12841,201152,2010,0,1610612755,PHI,22,67,45,2145,382,813,0.470,48,138,0.348,114,165,0.691,130,220,350,97,81,15,126,133,926,201152,Thaddeus Young,Thaddeus,Young,True,2010,218.056,14.12541119,7911,Thaddeus Young,"$2,105,400.00",2009,2010,PHI,Philadelphia 76ers

In [35]:
index = NBA_salary.index
number_of_rows = len(index)
number_of_rows

12842

In [36]:
Over_stats = NBA_salary[['PLAYER_ID','CPI_AVE', 'PER', ' Salary in $ ']]
Over_stats.head()

   PLAYER_ID  CPI_AVE          PER    Salary in $
0      76001    136.2  14.96652414    $395,000.00
1         51    136.2  14.55733821  $1,660,000.00
2      76009    136.2  10.34539909    $437,000.00
3        149    136.2  27.77673828    $825,000.00
4      76016    136.2  17.09185992  $1,115,000.00

In [37]:
Over_stats[' Salary in $ '] = Over_stats[' Salary in $ '].replace({'\$': '', ',': ''}, regex=True).astype(float)

C:\Users\zorta\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
Over_stats.dtypes

PLAYER_ID          int64
CPI_AVE          float64
PER               object
 Salary in $     float64
dtype: object

In [39]:
# Over_stats['PER'] =Over_stats['PER'].astype(str).astype(float)
Over_stats['PER'] = pd.to_numeric(Over_stats['PER'], errors='coerce')

C:\Users\zorta\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:

Over_Player_stats =Over_stats.rename(columns={' Salary in $ ': 'salary'})
Over_Player_stats

       PLAYER_ID  CPI_AVE        PER     salary
0          76001  136.200  14.966524   395000.0
1             51  136.200  14.557338  1660000.0
2          76009  136.200  10.345399   437000.0
3            149  136.200  27.776738   825000.0
4          76016  136.200  17.091860  1115000.0
...          ...      ...        ...        ...
12837     201153  218.056  12.005071  2000040.0
12838     201146  218.056  12.338039  3194400.0
12839     201156  218.056  10.651037  1714800.0
12840     201970  218.056  12.926348   824200.0
12841     201152  218.056  14.125411  2105400.0

[12842 rows x 4 columns]

In [115]:
#calculating player undepaid and overpaid
Sal_CPI_Norm = Over_Player_stats['salary']/Over_Player_stats['CPI_AVE']

Adj_salary = 15000000*(Over_Player_stats['CPI_AVE']/245.12)

salary_ratio = Adj_salary/Over_Player_stats['CPI_AVE']

Sal_Ave_player_norm = Sal_CPI_Norm/salary_ratio

Per_Norm_Aver = Over_Player_stats['PER']/15

Norm_PER_Sal = Sal_Ave_player_norm/Per_Norm_Aver

over_under= Norm_PER_Sal-1

over_under

0       -0.952502
1       -0.794776
2       -0.923979
3       -0.946547
4       -0.882595
           ...
12837   -0.812723
12838   -0.708959
12839   -0.819019
12840   -0.928325
12841   -0.832450
Length: 12842, dtype: float64

In [116]:
Over_under= pd.DataFrame(over_under)
Over_under.tail(30)

              0
12812 -0.926065
12813 -0.364812
12814 -0.730526
12815 -0.910468
12816 -0.599886
12817 -0.937455
12818 -0.472370
12819 -0.659178
12820 -0.949372
12821 -0.767871
12822 -0.711031
12823 -0.690841
12824 -0.967403
12825 -0.369089
12826 -0.886702
12827 -0.901891
12828 -0.909957
12829 -0.348941
12830 -0.393019
12831 -0.742352
12832 -0.936056
12833 -0.801545
12834 -0.466509
12835 -0.734509
12836 -0.781079
12837 -0.812723
12838 -0.708959
12839 -0.819019
12840 -0.928325
12841 -0.832450

In [61]:
# NBA_salary.insert(40, 'Player_Evaluation', over_under)

In [62]:
# NBA_salary.drop('Player_Evaluation', axis=1, inplace=True)

In [63]:
# NBA_salary

In [84]:
# NBA_salary.insert(39, 'Player_Evaluation', over_under)

ValueError: cannot insert Player_Evaluation, already exists

In [117]:
NBA_salary.drop('Player_Evaluation', axis=1, inplace=True)

In [118]:
NBA_salary

,Unnamed: 0,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,CPI_AVE,PER,Register Value,Player Name,Salary in $,Season Start,Season End,Team,Full Team Name
0,0,76001,1991,0,1610612757,POR,23,43,0,290,55,116,0.474,0,0,0.000,25,44,0.568,27,62,89,12,4,12,22,39,135,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,1991,136.200,14.96652414,6,Alaa Abdelnaby,"$395,000.00",1990,1991,POR,Portland Trail Blazers
1,1,51,1991,0,1610612743,DEN,22,67,19,1505,417,1009,0.413,24,100,0.240,84,98,0.857,34,87,121,206,55,4,110,149,942,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,1991,136.200,14.55733821,214,Mahmoud Abdul-Rauf,"$1,660,000.00",1990,1991,DEN,Denver Nuggets
2,2,76009,1991,0,1610612753,ORL,28,68,0,1313,109,214,0.509,1,3,0.333,66,101,0.653,140,219,359,25,25,25,42,218,285,76009,Mark Acres,Mark,Acres,False,1991,136.200,10.34539909,218,Mark Acres,"$437,000.00",1990,1991,ORL,Orlando Magic
3,3,149,1991,0,1610612743,DEN,28,66,66,2346,560,1421,0.394,167,564,0.296,465,529,0.879,58,198,256,693,147,6,240,162,1752,149,Michael Adams,Michael,Adams,False,1991,136.200,27.77673828,228,Michael Adams,"$825,000.00",1990,1991,DEN,Denver Nuggets
4,4,76016,1991,0,1610612765,DET,31,78,13,2006,420,909,0.462,24,78,0.308,240,317,0.757,134,240,374,139,47,20,128,209,1104,76016,Mark Aguirre,Mark,Aguirre,False,1991,136.200,17.09185992,219,Mark Aguirre,"$1,115,000.00",1990,1991,DET,Detroit Pistons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,12837,201153,2010,0,1610612740,NOH,23,68,14,871,116,232,0.500,2,6,0.333,25,41,0.610,58,86,144,41,29,18,44,45,259,201153,Julian Wright,Julian,Wright,False,2010,218.056,12.00507118,7728,Julian Wright,"$2,000,040.00",2009,2010,NOH,New Orleans Pelicans
12838,12838,201146,2010,0,1610612751,NJN,22,52,51,1655,227,563,0.403,15,41,0.366,154,193,0.798,115,257,372,47,37,52,77,170,623,201146,Yi Jianlian,NaN,Yi Jianlian,False,2010,218.056,12.33803867,7940,Yi Jianlian,"$3,194,400.00",2009,2010,NJN,Brooklyn Nets
12839,12839,201156,2010,0,1610612764,WAS,25,74,23,1421,233,558,0.418,69,170,0.406,104,130,0.800,20,82,102,48,28,8,56,147,639,201156,Nick Young,Nick,Young,False,2010,218.056,10.65103659,7819,Nick Young,"$1,714,800.00",2009,2010,WAS,Washington Wizards
12840,12840,201970,2010,0,1610612763,MEM,25,80,1,1321,224,497,0.451,11,56,0.196,136,175,0.777,77,124,201,52,34,20,94,106,595,201970,Sam Young,Sam,Young,False,2010,218.056,12.92634822,7874,Sam Young,"$824,200.00",2009,2010,MEM,Memphis Grizzlies
12841,12841,201152,2010,0,1610612755,PHI,22,67,45,2145,382,813,0.470,48,138,0.348,114,165,0.691,130,220,350,97,81,15,126,133,926,201152,Thaddeus Young,Thaddeus,Young,True,2010,218.056,14.12541119,7911,Thaddeus Young,"$2,105,400.00",2009,2010,PHI,Philadelphia 76ers

In [119]:
NBA_salary.insert(39, 'Player_Evaluation', over_under)
NBA_Player_Evaluation = NBA_salary

In [120]:
NBA_Player_Evaluation

,Unnamed: 0,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,CPI_AVE,PER,Register Value,Player Name,Salary in $,Player_Evaluation,Season Start,Season End,Team,Full Team Name
0,0,76001,1991,0,1610612757,POR,23,43,0,290,55,116,0.474,0,0,0.000,25,44,0.568,27,62,89,12,4,12,22,39,135,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,1991,136.200,14.96652414,6,Alaa Abdelnaby,"$395,000.00",-0.952502,1990,1991,POR,Portland Trail Blazers
1,1,51,1991,0,1610612743,DEN,22,67,19,1505,417,1009,0.413,24,100,0.240,84,98,0.857,34,87,121,206,55,4,110,149,942,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,1991,136.200,14.55733821,214,Mahmoud Abdul-Rauf,"$1,660,000.00",-0.794776,1990,1991,DEN,Denver Nuggets
2,2,76009,1991,0,1610612753,ORL,28,68,0,1313,109,214,0.509,1,3,0.333,66,101,0.653,140,219,359,25,25,25,42,218,285,76009,Mark Acres,Mark,Acres,False,1991,136.200,10.34539909,218,Mark Acres,"$437,000.00",-0.923979,1990,1991,ORL,Orlando Magic
3,3,149,1991,0,1610612743,DEN,28,66,66,2346,560,1421,0.394,167,564,0.296,465,529,0.879,58,198,256,693,147,6,240,162,1752,149,Michael Adams,Michael,Adams,False,1991,136.200,27.77673828,228,Michael Adams,"$825,000.00",-0.946547,1990,1991,DEN,Denver Nuggets
4,4,76016,1991,0,1610612765,DET,31,78,13,2006,420,909,0.462,24,78,0.308,240,317,0.757,134,240,374,139,47,20,128,209,1104,76016,Mark Aguirre,Mark,Aguirre,False,1991,136.200,17.09185992,219,Mark Aguirre,"$1,115,000.00",-0.882595,1990,1991,DET,Detroit Pistons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,12837,201153,2010,0,1610612740,NOH,23,68,14,871,116,232,0.500,2,6,0.333,25,41,0.610,58,86,144,41,29,18,44,45,259,201153,Julian Wright,Julian,Wright,False,2010,218.056,12.00507118,7728,Julian Wright,"$2,000,040.00",-0.812723,2009,2010,NOH,New Orleans Pelicans
12838,12838,201146,2010,0,1610612751,NJN,22,52,51,1655,227,563,0.403,15,41,0.366,154,193,0.798,115,257,372,47,37,52,77,170,623,201146,Yi Jianlian,NaN,Yi Jianlian,False,2010,218.056,12.33803867,7940,Yi Jianlian,"$3,194,400.00",-0.708959,2009,2010,NJN,Brooklyn Nets
12839,12839,201156,2010,0,1610612764,WAS,25,74,23,1421,233,558,0.418,69,170,0.406,104,130,0.800,20,82,102,48,28,8,56,147,639,201156,Nick Young,Nick,Young,False,2010,218.056,10.65103659,7819,Nick Young,"$1,714,800.00",-0.819019,2009,2010,WAS,Washington Wizards
12840,12840,201970,2010,0,1610612763,MEM,25,80,1,1321,224,497,0.451,11,56,0.196,136,175,0.777,77,124,201,52,34,20,94,106,595,201970,Sam Young,Sam,Young,False,2010,218.056,12.92634822,7874,Sam Young,"$824,200.00",-0.928325,2009,2010,MEM,Memphis Grizzlies
12841,12841,201152,2010,0,1610612755,PHI,22,67,45,2145,382,813,0.470,48,138,0.348,114,165,0.691,130,220,350,97,81,15,126,133,926,201152,Thaddeus Young,Thaddeus,Young,True,2010,218.056,14.12541119,7911,Thaddeus Young,"$2,105,400.00",-0.832450,2009,2010,PHI,Philadelphia 76ers

In [96]:
NBA_Player_Evaluation.to_csv("NBA_Player_Evaluation2.csv", index = False)