In [1]:
# Import dependencies 
import pandas as pd
import os
import csv
# Imported Libraries for NBA Player Info and Stats through NBA_API
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playercareerstats
from time import sleep

In [2]:
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))

# Player career stats called by player ID: 
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

Number of players fetched: 4501

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618

In [3]:
# Build a dataframe for nba_players Info: 
df=nba_players
df = pd.DataFrame(df)
# Push all NBA_Player IDs to a list to loop through all IDs and obtain all NBA players Info and Stats:
player_id= df['id'].tolist()
stats_df = playercareerstats.PlayerCareerStats(player_id=str(player_id[0])).get_data_frames()[0]
stats_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290.0,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934.0,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159.0,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311.0,245,...,0.759,126,211,337,27,25,26,97,189,578

In [17]:
# Looping through All Players IDs within using the try/except method since it is a lot of data and the API allows up to 30 reads at a time:
for i in player_id[player_id.index(stats_df['PLAYER_ID'].tolist()[-1])+1::]:
    print(i, end='\r')
    try:
        stats_df = stats_df.append(playercareerstats.PlayerCareerStats(player_id=str(i)).get_data_frames()[0], ignore_index=True)
    except Exception as e:
        print('it broke')
        break

In [29]:
# Merging NBA_Players Info dataframe and NBA_Players Sats over ID then export it to a CSV: 
merge_df=stats_df.merge(df, left_on='PLAYER_ID', right_on='id')
merge_df.to_csv('NBA_Players_Stats.csv')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290.0,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934.0,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159.0,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311.0,245,...,0.759,126,211,337,27,25,26,97,189,578
5,76001,1993-94,00,1610612738,BOS,26.0,13,0,159.0,24,...,0.640,12,34,46,3,2,3,17,20,64
6,76001,1994-95,00,1610612758,SAC,27.0,51,0,476.0,117,...,0.571,34,72,106,13,15,12,40,102,254
7,76001,1994-95,00,1610612755,PHL,27.0,3,0,30.0,1,...,0.000,3,5,8,0,0,0,5,2,2
8,76001,1994-95,00,0,TOT,27.0,54,0,506.0,118,...,0.571,37,77,114,13,15,12,45,104,256