In [22]:
import pandas as pd
import os
import csv
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playercareerstats
from time import sleep

In [10]:
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
df=nba_players
# career = playercareerstats.PlayerCareerStats(player_id='203076')
# career.get_data_frames()[0]

Number of players fetched: 4501

In [12]:
df = pd.DataFrame(df)
df
player_id= df['id'].tolist()

stats_df = playercareerstats.PlayerCareerStats(player_id=str(player_id[0])).get_data_frames()[0]
stats_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290.0,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934.0,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159.0,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311.0,245,...,0.759,126,211,337,27,25,26,97,189,578

In [17]:
for i in player_id[player_id.index(stats_df['PLAYER_ID'].tolist()[-1])+1::]:
    print(i, end='\r')
    try:
        stats_df = stats_df.append(playercareerstats.PlayerCareerStats(player_id=str(i)).get_data_frames()[0], ignore_index=True)
    except Exception as e:
        print('it broke')
        break

In [28]:
# playercareerstats.PlayerCareerStats(player_id=str(player_id[0])).get_data_frames()[0]
merge_df=stats_df.merge(df, left_on='PLAYER_ID', right_on='id')
merge_df.to_csv('NBA_Players_Stats.csv')

In [29]:
career = playercareerstats.PlayerCareerStats(player_id='76001')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290.0,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934.0,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159.0,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311.0,245,...,0.759,126,211,337,27,25,26,97,189,578
5,76001,1993-94,00,1610612738,BOS,26.0,13,0,159.0,24,...,0.640,12,34,46,3,2,3,17,20,64
6,76001,1994-95,00,1610612758,SAC,27.0,51,0,476.0,117,...,0.571,34,72,106,13,15,12,40,102,254
7,76001,1994-95,00,1610612755,PHL,27.0,3,0,30.0,1,...,0.000,3,5,8,0,0,0,5,2,2
8,76001,1994-95,00,0,TOT,27.0,54,0,506.0,118,...,0.571,37,77,114,13,15,12,45,104,256